<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved
  <ul>
  <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-3'>
<%= render 'books/list', {book: @book, user: @user} %>
      </div>
      <div class='col-md-8 offset-md-1'>
        <h2>Book detail</h2>
        <table class='table table-hover table-inverse'>

          <tbody>
            <tr>
              <th></th>
            <th>
              <p><%= attachment_image_tag @book_user, :profile_image, format: 'jpeg', size: "100x100", fallback: "default-image.jpg" %></p>
              <p><%= link_to @book.user.name, user_path(@book.user_id) %></p>
            </th>
            <th><%= @book.title %></th>
            <th><%= @book.body %></th>
            <% if @book.user.id == current_user.id %>
            <th><%= link_to "Edit", edit_book_path, class:"btn btn-sm btn-success" %></th>
            <th><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger" %></th>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>

  </div>
</div>